<html>
    <head>
     <title>Bootstrap datepicker example text input with specifying date format</title>
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">  
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script> </head>
    <body>
      <form id="myForm">
        <div class="form-group">
          <div class="col-sm-6">
            <input  class="form-control" type="text" placeholder="Select Start Date"  id="startDate">
          </div>       
          <div class="col-sm-6">
            <input  class="form-control" type="text" placeholder="Select End Date"  id="endDate"> 
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          
        </div>
      </form>
 </body>
 </html>

 <script type="text/javascript">
  // When the document is ready
  $(document).ready(function () {
      
      $('#startDate').datepicker({
          format: "dd/mm/yyyy"
      });  
  
  });

  $(document).ready(function () {
      
      $('#endDate').datepicker({
          format: "dd/mm/yyyy"
      });  
  
  });


  $('#startDate').datepicker({
      autoclose: true,  
      format: "dd/mm/yyyy"
  }); 

  $('#endtDate').datepicker({
      autoclose: true,  
      format: "dd/mm/yyyy"
  }); 


  
  $(function() {
    // $('.error').hide();
    $(".btn").click(function() {
      var start_date = $("input#startDate").val();
      var end_date = $("input#endDate").val();
      if (start_date == ""){
        $("label#startDate").show();
        $("input#startDate").focus();
        return false;
      }
      if (end_date == ""){
        $("label#endDate").show();
        $("input#endDate").focus();
        return false;
      }

      var settings = {
        "url": "http://52.56.164.147:3009/get_data",
        "method": "POST",
        "timeout": 0,
        "headers": {
          "Content-Type": "application/json"
        },
        "data": JSON.stringify({"higher_limit":start_date,"lower_limit":end_date}),
      };

      console.log(settings)

      $.ajax(settings).done(function (response) {
        console.log(response);

        // Create anchor element. 
        var a = document.createElement('a');  
                
        // Create the text node for anchor element. 
        var link = document.createTextNode("Download CSV"); 
                  
        // Append the text node to anchor element. 
        a.appendChild(link);  
                  
        // Set the title. 
        a.title = "CSV";  
                  
        // Set the href property. 
        a.href = response.url;  
                  
        // Append the anchor element to the body. 
        document.body.appendChild(a); 
      });

      return false;

    });
  });

</script>