<html>
    <head>
     <title>Bootstrap datepicker example text input with specifying date format</title>
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">  
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script> </head>
    <body>
      <form id="myForm">
        <div class="form-group">
          <div class="col-sm-6">
            <input  class="form-control" type="text" placeholder="Select Start Date"  id="startDate">
          </div>       
          <div class="col-sm-6">
            <input  class="form-control" type="text" placeholder="Select End Date"  id="endDate"> 
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
      <div id="dataTable">
      </div>
 </body>
 </html>

 <script type="text/javascript">
  // When the document is ready
  $(document).ready(function () {
      
      $('#startDate').datepicker({
          format: "yyyy-mm-dd"
      });  
  
  });

  $(document).ready(function () {
      
      $('#endDate').datepicker({
          format: "yyyy-mm-dd"
      });  
  
  });


  $('#startDate').datepicker({
      autoclose: true,  
      format: "yyyy-mm-dd"
  }); 

  $('#endtDate').datepicker({
      autoclose: true,  
      format: "yyyy-mm-dd"
  }); 


  
  $(function() {
    $('.error').hide();
    $(".btn").click(function() {
      var start_date = $("input#startDate").val();
      var end_date = $("input#endDate").val();
      if (start_date == ""){
        $("label#startDate").show();
        $("input#startDate").focus();
        return false;
      }
      if (end_date == ""){
        $("label#endDate").show();
        $("input#endDate").focus();
        return false;
      }
      $("#es_table").remove();
      $("#download_link").remove();
      var today = new Date();
      var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds() + ".0000";

      $.ajax({
        type:'POST',
        url: "http://52.56.164.147:3009/get_data",
        headers: {
          "Content-Type": "application/json"
        },
        data: JSON.stringify({"higher_limit":end_date+" "+time,"lower_limit":start_date+" "+time}),
        success: function (response) {
          $.ajax({
            url: response.url,
            dataType:"text",
            success:function(data){
              console.log("Data");

              console.log(response);
              // Create anchor element. 
              var a = document.createElement('a');  
                    
              // Create the text node for anchor element. 
              var link = document.createTextNode("Download"); 
                              
              // Append the text node to anchor element. 
              a.appendChild(link);  
                              
              // Set the title. 
              a.title = "CSV";  
              a.id = "download_link"
                              
              // Set the href property. 
              a.href = response.url;  
                              
              // Append the anchor element to the body. 
              document.body.appendChild(a); 

              var es_data = data.split(/\r?\n|\r/);
              var table_data = '<table class="table table-bordered table-striped" id="es_table">';
              for(var count = 0; count<es_data.length; count++){
                var cell_data = es_data[count].split(",");
                table_data += '<tr>';
                for(var cell_count=0; cell_count<cell_data.length; cell_count++){
                  if(count === 0)
                  {
                  table_data += '<th>'+cell_data[cell_count]+'</th>';
                  }
                  else
                  {
                  table_data += '<td>'+cell_data[cell_count]+'</td>';
                  }
                }
                table_data += '</tr>';
              }
              table_data += '</table>';
              $('#dataTable').html(table_data);
            }
          });
        }
      });

      return false;

    });
  });

</script>